body{
    background-color: rgb(11, 228, 217);
    text-transform: capitalize;
}
.short{
    color: rgb(15, 221, 94);
}
.shorter{
    color: rgb(236, 32, 17);
}
#contact-us{
    color: rgb(216, 18, 216);
    font-size: xx-large;
}
.legend{
    font-size:x-large;
}
h3{
    color: rgb(16, 233, 88);
    font-weight: 700;
}
h4, small{
    color: rgb(38, 180, 81);
}
/* this is a pseudo-selector notice that you put a colon after selecting*/
h5:hover{
    color: rgb(221, 221, 10);
}

li:first-child{
    color: beige;
    font-style: italic;
}

li:nth-child(3) {
    color: rgb(48, 10, 216);
}
/* a:hover must come last after a:link a:visited*/

a:link{
    color: red;
}
a:visited{
    color: rgb(95, 221, 11);
}
a:hover{
    color: rgb(241, 15, 211);
}
/*pseudo class selector. highlight is our class*/
em.highlight:hover {
    color: antiquewhite;
    font-size: 35px;
}
/*attribute selectors*/
/*this [name of the attribute] selects all attributes whose name is brackets*/
[data-type] {
    color: rgb(9, 31, 230);
    font-size: 30px;
}

/*this selects all atributes whose value is EXACTLY sixthead*/
[target='sixthead'] {
    font-size:xx-large;
    color: rgb(11, 123, 197);
}
/*targets all <a> element with the attributed whose value is EXACTLY twitter*/
/*this styling selection is more specific which is the other a element styling don't work here*/
a[link='twitter'] {
    color: blue;
    font-style: italic
}
a[link='facebook'] {
    color: #FE01FC;
    font-style: italic;
}
/*selects the attribiute of element a whose value is among the whitespace-spaced series of words*/
a[prof~='professional'] {
    color: #aa143a;
    font-style: oblique;
}
li:only-child {
    color: #aa143a;
}

/* :focus pseudo class selector. styling input for example*/

input:focus{
    background-color: yellow;
}

/*pseudo element selector use double colons. They're used to style specific parts of an element*/
p::first-line{
    color: red;
    font-variant:initial;
}

p::first-letter {
    color: #FE01FC;
    font-size: xx-large;
}
h3::first-letter {
    color: rgba(233, 146, 15, 0.651);
    font-family: 'Courier New', Courier, monospace;
}
/*combining html class with pseudo element selector*/
p.animals::first-letter{
    color: blue;
    font-size: xx-large;
}

/*::before and ::after pseudo elements used to insert content(gif or text) before and after an element*/
.short::before {
    content: "This is ";
}

h1.short::after {
    content:"";
    display: block;
    width: 200px;
    height: 100px;
    background-color: #c4c409;
}
/*the ::marker pseudo element does need to be preceeded by a class or element selector. its a stand alone*/
/*it styles all markers of list items*/

::marker {
    color: rgba(129, 10, 240, 0.411);
    font-size: x-large;
    
}
/*::selection pseudo element styles any portion an element select by the user*/
/* similar to marker, selection isn't precedented by an element or class selector*/
::selection {
    color: rgba(228, 8, 8, 0.959);
    background-color: rgba(0, 217, 255, 0.87);
}

/*fonts styling*/
[fonts='styling'] {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline wavy blue;
    color: rgb(23, 121, 206);
}
/*external font styling*/
h2 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 4em;
}

p {
    border-style:solid;
    text-shadow: 40px;
    padding: 1rem;
}
p.pig::first-letter{
   color: #FE01FC;
}

/* combinator selector. Descedant combinator */
/* it styles the ALL second selectors which are the descedant and children of the first selector .
Its an all inclusive styler*/
.box p {
    color: red;
}

section p {
    background-color: cadetblue;
}

/* child combinator - its used to style DIRECT children of the first selector element.
The selectors are seperated by this > sign. The first selector is the parent
the second selector is the direct child. Descedants aren't styled i.e the grandchildren*/
ul > li {
    border-style: ridge;
    padding: 1ex;
    
}

div > p {
    background-color: yellow;
}

/* adjacent sibling combinator. Styles the second selector that comes IMMEDIATELY after the end of first selector.
this means all other elements that come after won't be styled */
h1 + p {
    background-color: white;
    font-weight: 900;
    font-style: italic;
}

h5 + p {
    background-color: rgba(84, 238, 13, 0.959);
}

/* general combinator. works like adjacent sibling only that it selects/styles all elements that come after
the first selector, not just the one that comes immediately after */

h7 ~ p {
    background-color: peru;
    font-weight: 900;
    font-stretch: expanded;
}

img {
    border: 30px;
    border-style: solid;
    padding:0%;
}

.fonts {
    text-align: center;
    text-overflow: ellipsis;
    font-size: 1.2em;
}